{% extends "todo/base.html" %}

{% block content %}
<br>
    <br>
    <br>
    <br>
    <br>
    <br>
<div class="row justify-content-center mt-5">
        <div class="col-md-7 text-center">

                 <h1>Просто ваши задачи. Woo!</h1>
            <p>Жизнь веселая. Но жизнь также занята. Есть миллион разных вещей, которыми вы могли бы заняться. Но важно то, <u>что</u> вы делаете. Мы создали <b><i>Todo Woo</i></b>, чтобы помочь вам реализовать все свои возможности и жить той жизнью, которая для вас важнее всего. Ваша новая организованная жизнь ждет.</p>
        <a role="button" class="btn btn-primary btn-lg" href="{% url 'signupuser' %}">Начать</a>
        </div>
    </div>

{% endblock %}
